node_modules/
**/node_modules/

key
data
# Terraform
.terraform/
*.tfstate
*.tfstate.*
.crash.log

# Terraform lock
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo

# Alembic cache
alembic/__pycache__/

# Local env
.env

.DS_Store

infra/terraform.tfvars